* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #111, #2c3e50);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.auth-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 320px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.auth-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.auth-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.auth-container input:focus {
    outline: none;
    border-color: #111;
}

.auth-container button {
    width: 100%;
    padding: 10px;
    background: #111;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.2s;
}

.auth-container button:hover {
    background: #333;
}

.auth-container p {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.auth-container a {
    color: #111;
    text-decoration: none;
    font-weight: bold;
}

.auth-container a:hover {
    text-decoration: underline;
}

.error-box {
    margin-top: 15px;
    background: #ffe6e6;
    border: 1px solid #ff4d4d;
    padding: 10px;
    border-radius: 6px;
    color: #a30000;
    font-size: 13px;
}